.indexedStep {
    color: rgb(190, 190, 190);
    width: 30px;
    height: 30px;
    font-size: 1em;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(206, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--ion-color-danger);
    color: white;
    border-style: none;
    padding: 1.5em;
}

.indexedStep.accomplished {
    background-color: var(--ion-color-success);
    color: white;
    border-style: none;
    padding: 1.5em;
    font-size: 1em;

}

.RSPBprogressBar {
    height: 6px;
    width: 60%;
    line-height: 1;
    border-radius: 10px;
    position: relative;
    background-color: var(--ion-color-danger);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    margin: 60px auto;
    margin-bottom: 4.5rem;
}

.RSPBprogressBar .RSPBstep {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: absolute;
    transform: translateX(-50%);
    transition-property: all;
    transition-timing-function: ease;
}

.RSPBprogressBar .RSPBprogressBarText {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.RSPBprogressBar .RSPBprogression {
    position: absolute;
    transition: width 0.1s ease;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    background: #43A047;
    z-index: -1;
}
.ProgressLabel{
    position: absolute;
    font-size: 0.8em;
    text-align: center;
    margin: 2px  0;  
    margin-left: -1px;
}


@media screen and (max-width: 480px) {
    .indexedStep{
        /* width: 15px;
        height: 15px; */
        font-size: 4vw;
        padding: 1.2em;
    }
    .indexedStep.accomplished {
        background-color: var(--ion-color-success);
        color: white;
        border-style: none;
        font-size: 4vw;
        padding: 1.2em;
    }
    .RSPBprogressBar {
        width: 70%;
    }
    .ProgressLabel{
        position: absolute;
        font-size: 0.6em;
        text-align: center;
        margin: 2px  0;  
        margin-left: -1px;
    }
}